#menu.css                           /* Menu Section */
.menu {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.menu h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    width: 300px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.menu-item p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FF4500;
}

.menu-item .btn {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #FF4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item .btn:hover {
    background-color: #FF6347;
}